@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
  margin: 0;
  padding: 0;
  list-style-type:none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}


/* custom scrool bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(55, 56, 61);
}

::-webkit-scrollbar-thumb {
  background-color:#0d6efd;
  height: 8%;
  border-radius: 10px;
}

body,html{       
   font-family: "Open Sans", sans-serif;
   overflow-x: hidden;
}
/* .nav-container {
  width: 95%;
  margin:  0 auto;

} */

.hero-padding{
  padding-top: 7rem;
}

.main-padding{
  padding-top: 5rem;
}



.navbar-nav{
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 1.8rem; 
}


.nav-menu-item{
  position: relative;
  cursor: pointer ;
}
.nav-menu-item::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color:rgb(13, 110, 253);
  transition: 0.5s ease-in-out;
}
.menu:hover::after{
  width: 100%;
}

/* filter rent category  */
.dropdown-item:hover{
  cursor: pointer;
  background: #3333;
}

.category-name{
  background-color: #d3d7db;
  transition: 0.5s ease-in-out;
}
.category_item{
  margin-bottom: 0.5rem !important;
  background-color: #e9ecef;
  transition: 0.5s ease-in-out;
}

.category_item:hover{
  background-color: #ecf0f0;
  color: rgb(63, 62, 62);
}

.m-neg {
  margin-top: -0.5rem !important;
}

.card-title{
  color: rgba(0, 126, 133, 1);
  height: 3rem;
  overflow: hidden;
}
.rent-description{
  height: 2.8rem;
  overflow: hidden;
}
.nodata{
  display: none;
}

.registration-container,.login-container ,.contact-container,.profile-container,.rent-post-container,.contact-container{
  width: 55%;
  margin:0 auto;
}

/* error  */
#error{
  background-color: #dc3545;
  color: #ffff;
}

.hover-scale {
  transition: transform 0.5s ease; /* Smooth transition */
}

.hover-scale:hover {
  transform: scale(1.1); /* Scale the image to 110% */
}


/* reponsive advertisement borde4r */
@media (min-width: 768px) { 
  .border-md {
    border: 1px solid #dee2e6; 
  }
}

@media (max-width: 991px) { 
  .navbar-nav{
    padding-top: 1rem;
    display: flex !important;
    align-items: start;
    justify-content: start;
    gap: 0.5rem; 
  }
  .registration-container,.login-container,.profile-container,.rent-post-container,.contact-container{
    width: 100%;
    margin: 0 auto;
  }

  .card-title{
    color: rgba(0, 126, 133, 1);
    height: 1.5rem;
  }
  .rent-description{
  height: 1.5rem;
  }
}